@import url("https://fonts.googleapis.com/css2?family=Catamaran:wght@700&family=PT+Sans&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: "PT Sans", sans-serif;
  background-color: #111827;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
